.wrapper__conception {
  background-color: $colorTextWhite;
  padding: 35px 30px;
  h2 {
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 35px;
    span {
      display: block;
    }
  }
}
