.wrapper__footer {
  padding: 35px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & img {
    width: 27px;
    height: 27px;
    object-fit: cover;
  }
  & p {
    font-size: 8px;
    flex-basis: 225px;
    color: #959595;
  }
}
@include breakpoint(small){
  .wrapper__footer{
    padding: 40px 35px;
    & img{
      width: 35px;
      height: 35px;
    }
    & p{
      font-size: 11px;
      flex-basis: 300px;
    }
  }
  
}