.wrapper__main {
  position: relative;
  width: 100%;
  padding: 35px 30px 35px 30px;
  overflow: hidden;
  z-index: 1;
  h2,
  p {
    margin-bottom: 35px;
  }
}
.main__btn {
  margin-bottom: 35px;
}

.social__icon {
  margin-right: 25px;
  text-decoration: none;
}
.main__logo {
  position: absolute;
  bottom: -25%;
  right: -25%;
}
