.wrapper__nav {
  position: sticky;
  top: 0px;
  min-height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorBg;
  z-index: 10000;
  overflow: hidden;
}
.nav__logo {
  width: 27px;
  height: 27px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.nav__button {
  position: relative;
  width: 20px;
  height: 12px;
  background: transparent;
  border: none;
  transition: 0.3s ease-in-out transform;
  outline: none;
}
.button__bar {
  width: 20px;
  height: 2px;
  background-color: $colorTextBlack;
  transition: 0.3s ease-in-out transform;
}
.button__bar:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.button__bar:nth-child(2) {
  position: absolute;
  top: 6px;
  left: 0;
}
.button__bar:nth-child(3) {
  position: absolute;
  top: 12px;
  left: 0;
}
.nav__button--open {
  transform: rotate(45deg);
  & > .button__bar:nth-child(1) {
    transform: rotate(-90deg) scaleX(0.4);
  }
  & > .button__bar:nth-child(3) {
    transform: rotate(90deg) scaleX(0.4);
  }
}
.nav__menu {
  position: fixed;
  top: 50px;
  left: 0;
  padding: 40px 20px;
  width: 100vw;
  height: 100vh;
  background-color: $colorBg;
  list-style: none;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  transition: 0.5s ease-in-out transform;
  text-align: right;
  z-index: 1000;
  // overflow: hidden;
}
.menu__item {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  overflow: hidden;
  &::after {
    position: absolute;
    bottom: -15px;
    right: 0;
    content: "";
    width: 15px;
    height: 2px;
    background-color: $colorTextBlack;
  }
}
.nav__menu--hidden {
  transform: translateX(100vw);
}
@include breakpoint(small) {
  .nav__button {
    width: 30px;
    height: 18px;
  }
  .nav__logo {
    width: 35px;
    height: 35px;
  }
  .button__bar {
    width: 30px;
    height: 2px;
  }
  .button__bar:nth-child(1) {
    top: 0;
  }
  .button__bar:nth-child(2) {
    top: 9px;
  }
  .button__bar:nth-child(3) {
    top: 18px;
  }
  .menu__item {
    font-size: 24px;
    &::after {
      width: 25px;
    }
  }
}
