.wrapper__target {
  display: flex;
  flex-direction: column;
}
.target__section {
  padding: 35px 30px;
  background-color: $colorBlue;
  border-bottom: 1px solid white;
  & h2,
  p {
    text-transform: uppercase;
    color: $colorTextWhite;
  }
  & h2 {
    margin-bottom: 35px;
  }
  & p {
    margin-bottom: 12px;
    font-weight: bold;
  }
  & p:nth-child(odd) {
    margin-bottom: 20px;
  }
  & p:last-child {
    margin-bottom: 0px;
  }
  & p small {
    color: $colorBlueText;
  }
  & img {
    display: none;
  }
}
@include breakpoint(small) {
  .target__section {
    position: relative;
    padding: 40px 35px;
    margin: 0 15px;
    overflow: hidden;
    & h2 {
      margin-bottom: 40px;
    }
    & img {
      display: block;
      position: absolute;
      top: 50%;
      right: -20%;
      width: 75%;
      height: 75%;
      transform: translateY(-50%);
      opacity: 0.3;
    }
  }
  .target__section:nth-of-type(odd) {
    text-align: right;
    & img {
      left: -20%;
    }
  }
}
@include breakpoint(medium) {
  .wrapper__target {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
    justify-content: space-between;
  }
  .target__section {
    flex-basis: 50%;
    border: none;
    margin: 0;
  }
  .target__section:last-child {
    flex-grow: 1;
    text-align: center;
    padding: 0 35px 40px 35px;
    box-shadow: rgba($color: #000000, $alpha: 0.3) 0 8px 6px -4px;
    & img {
      left: -30%;
    }
    & img:last-child {
      left: 55%;
      transform: scaleX(-1) translateY(-50%);
    }
  }
}
