@import "settings";
@import "nav";
@import "main";
@import "conception";
@import "target";
@import "project";
@import "change";
@import "reference";
@import "how";
@import "map";
@import "newsletter";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
}
html {
  overflow-x: hidden;
}
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $colorBg;
  // clip-path: inset(0);

  // clip: rect(0, auto, auto, 0);
}
h2 {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 35px;
  text-transform: uppercase;
  line-height: 22px;
  & span {
    display: block;
  }
}
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

.btn {
  position: relative;
  padding: 10px 20px 10px 65px;
  border: none;
  background-color: $colorOrange;
  border-radius: 5px;
  color: $colorTextWhite;
  box-shadow: rgba($color: $colorOrangeShadow, $alpha: 0.25) 0 4px 6px;
  text-transform: uppercase;
  font-weight: bold;
  &::before {
    position: absolute;
    top: 9px;
    left: 13px;
    width: 25px;
    height: 17px;
    content: "";
    background-image: url("../img/eye.svg");
  }
  &::after {
    position: absolute;
    top: 5px;
    left: 50px;
    width: 2px;
    height: 25px;
    content: "";
    background-color: $colorTextWhite;
  }
}
.btn--white {
  background-color: $colorTextWhite;
  color: $colorTextBlack;
  box-shadow: rgba($color: $colorTextBlack, $alpha: 0.25) 0 4px 6px;
  &::before {
    background-image: url("../img/eyeBlack.svg");
  }
  &::after {
    background-color: #959595;
  }
}
.container__tiles {
  display: flex;
  flex-wrap: wrap;
  & h3 {
    margin-bottom: 15px;
    flex-basis: 100%;
  }
}
.tiles__tile {
  padding: 10px 20px;
  background-color: $colorTextWhite;
  margin: 0 10px 10px 0;
  box-shadow: rgba($color: #000000, $alpha: 0.13) 0 2px 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.tiles__tile--blue {
  background-color: $colorBlue;
  color: $colorTextWhite;
}
@include breakpoint(small) {
  h2 {
    margin-bottom: 40px;
    font-size: 26px;
  }
}
@include breakpoint(small) {
  .btn {
    font-size: 14px;
  }
  .container__tiles {
    & h3 {
      font-size: 19px;
      margin-bottom: 16px;
    }
  }
  .tiles__tile {
    font-size: 13px;
  }
}
